.vsqh01-1-slider {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  font-family: 'Instrument Serif', serif;

  ul,
  li {
    padding: 0;
    margin: 0;
  }

  ul {
    list-style: none;
  }
}

.vsqh01-1-slider_track {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  color: white;
  background-color: black;
}

.vsqh01-1-slider_list,
.vsqh01-1-slider_content {
  opacity: 0;
  transition: opacity 1s ease-out;

  .vsqh01-1-slider.is-init & {
    opacity: 1;
  }
}

.vsqh01-1-slider_list {
  padding: 0;
  margin: 0;
  position: absolute;
  aspect-ratio: 9/16;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  @media (orientation: landscape) {
    height: 60vh;
    perspective: 100vw;
  }

  @media (orientation: portrait) {
    height: 60vw;
    perspective: 100vh;
  }

  li {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    inset: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 12px;
    overflow: hidden;
    will-change: transform;
    backface-visibility: hidden;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: black;
      opacity: calc(1 - var(--relativeProgress));
    }
  }
}

.vsqh01-1-actions {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  display: none;
}

.vsqh01-1-drag-proxy {
  visibility: hidden;
  position: absolute;
  inset: 0;
}

.vsqh01-1-slider_content {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-size: 8vw;
  /* text-transform: uppercase; */
  perspective: 100vw;

  li {
    line-height: 1;
    backface-visibility: hidden;
    will-change: transform;
    transform-style: preserve-3d;

    &:not(:first-child) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
