.vsqh01-1-slider {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  inset: 0;
  z-index: 1;
  font-family: 'Instrument Serif', serif;

  &:not(.is-init) {
    cursor: wait !important;
  }
}

.vsqh01-1-slider_track {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  color: white;
  background-color: black;
}

.vsqh01-1-slider_list {
  perspective: 1500px;
  aspect-ratio: 9/16;
  opacity: 0;
  transition: opacity 1s ease-out;

  .vsqh01-1-slider.is-init & {
    opacity: 1;
  }

  @media (orientation: landscape) {
    height: 75vh;
  }

  @media (orientation: portrait) {
    height: 75vw;
  }
}

.vsqh01-1-slider_card {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  contain: layout paint;
  transform-style: preserve-3d;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
    background-color: black;
    opacity: calc(1 - var(--relativeProgress));
  }
}

.vsqh01-1-drag-proxy {
  visibility: hidden;
  position: absolute;
  inset: 0;
}
